RewriteEngine On

# RewriteBase /lms-func/
# RewriteRule ^student-add$ Admin/student-add [L]

# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rule for static files
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*\.(css|js|jpg|png))$ /$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 /notfound.html